<center><strong>TERIMAKASIH TELAH BERGABUNG BERSAMA KAMI</strong>
<p>SEMANGAT!!!</p>
</center>
<strong><u>**KETERANGAN KODE**</u></strong><br>
Huruf di belakang lesing dan warna :<br>
<b>n</b> = <font color="#1658FE">Biru</font> = nasional<br>
<b>w</b> = <font color="#FA0E00">Merah</font> = wo<br>
<b>x</b> = <font color="#E500C1">Ungu</font> = data dari file kecil kecil<br>
<b>z</b> = <font color="#21C337">Hijau</font> = kiriman dari bbm atau dari yang lain<br>
<p><i>Misal :</i><br>
+ <font color="red">Acn11</font><font color="green">[245]</font> ~ <font color="blue">Rp209</font>)</font> <br>
<font color="red">Acn11</font> = Acn bulan terupdate yaitu 11<br>
<font color="green">[245]</font> = Overdue (lama tunggakan)<br>
<font color="blue">Rp209</font> = Saldo (sisa hutang)<br>
</p>
<p> + <font color="red">Bfin</font><font color="green">11</font>-<font color="blue">7</font><br>
 <font color="red">Bfi</font> bulan terudate <font color="green">11</font> berada di depan dan <font color="blue">7</font> nopol mulai naik data ( kemungkinan kasus dari bulan <font color="blue">7</font> sampai <font color="green">11</font> bisa juga data naik turun jadi jangan jadi patokan utama )</p>

<p>Untuk kelengkapan data kita bersama kami berharap anggota bisa turut berpartisipasi mengumpulkan data, data yang terkumpul bisa di kirimkan melalui :</p>

<p><i>BBM</i> : 5F0BDCD4<br>
<i>Telegram</i> : 083863541348<br>
<i>Emil</i> : lumbungdata2@gmail.com<br>
Atau langsung dari app dTm di menu <i><b>Sumbang Data</b></i></p>
Berikut kami sampaikan keterangan yang ada didalam App :
<p>
<strong><u>**CONTACT PARA SK**</u></strong><br>
%kontak%<br>
</p> 

<p>Sementara demikian keterangan tentang app dTm yang dapat kami sampaikan ,segala kekurangan baik data atau app kami mohon maaf yang sebesar besarnya.
<br>Semoga hari ini dan seterusnya kita semua menjadi lebih baik</p>
<center><strong>PERHATIAN !!!!!!!</strong></center>
<center>Untuk kelancaran app dTm kami harap anggota mengikuti tata tertib dan instruksi dari kami</center><br>
 <br><center><strong><font color="red">dTm</font></strong></center>
